.header {
  padding: 3rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  /* margin-bottom: 1rem; */
}

.title {
  margin: 0;
  font-size: 2.5em;
}

.subtitle {
  margin: 0.5em 0;
  font-size: 1.5em;
  font-weight: 300;
}

.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.navLink {
  text-decoration: none;
  color: #000000;
  transition: color 0.25s;
}

.navLink:hover {
  color: #c07fcf;
}